<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/main}">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>


<th:block layout:fragment="content">
    <!--<div th:replace="base/globalmessages :: global-messages">(global-messages)</div>-->
    <div class="content">
        <div class="row">
            <div class="col-md-12">

            </div>
            <div class="col-md-12" style="margin-top: -32px;">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title" style="font-size: 20px;"> Customs Data</h4>
                        <a
                                th:href="'javascript:void(0)'" class="btn btn-primary btn-sm pull-right category-create"
                                style="position: absolute; top: 79px; right: 1.2%"
                                data-onload="tCheckbox"
                                th:attr="data-after='tCheckbox',data-title='Add Customs Data',data-size='large',
                                data-url='/ajax/super/publications/dataform', data-submiturl='/ajax/super/publications/datacreate',
                                data-close='pubCreated',data-reload='true'", data-msg="Customs Data is created!"
                        ><label style="color: #fff; font-size: 12.5px; margin-top: 4px; cursor: pointer;">Add Customs Data</label></a>
                    </div>
                    <div class="card-body">
                        <table class="table " id="dataTable" width="100%" cellspacing="0"
                               data-toolbar="#toolbar"
                               data-search="true"
                               data-toggle="table"
                               data-search-align="left"
                               data-minimum-count-columns="2"
                               data-pagination="true"
                               data-page-size="10"
                               data-sortable="true"
                               data-page-list="[10, 25, 50, All]"
                               data-side-pagination="client"
                               data-show-extended-pagination="true"
                               data-buttons-class="btn btn-info">
                            <thead>
                            <tr>
                                <!--<th>-</th>-->
                                <th data-sortable="true" data-searchable="true"> <!--th:with="order=${pageable.getSort().getOrderFor('productId')}">
                                    <a href="javascript:void(0)"
                                       th:value="${productId}"
                                       th:attr="data-sort='productId',data-baseurl=${pagingUrl},data-formname='pubList',data-replacediv='replace',data-page='1',
                            data-dir=${(order!=null and order.isAscending()) ? 'DESC' : 'ASC'}"
                                       class="page-sort">-->
                                    Data Product ID<!--</a>-->
                                </th>
                                <th data-sortable="true" data-searchable="true"> <!--th:with="order=${pageable.getSort().getOrderFor('productName')}">
                                    <a href="javascript:void(0)"
                                       th:value="${productName}"
                                       th:attr="data-sort='productName',data-baseurl=${pagingUrl},data-formname='pubList',data-replacediv='replace',data-page='1',data-dir='asc',
                                data-dir=${(order!=null and order.isAscending()) ? 'DESC' : 'ASC'}"
                                       class="page-sort"
                                    >-->Product Name<!--</a>-->
                                </th>

                                <th data-sortable="true" data-searchable="true"> <!--th:with="order=${pageable.getSort().getOrderFor('productName')}">
                                    <a href="javascript:void(0)"
                                       th:value="${productName}"
                                       th:attr="data-sort='productName',data-baseurl=${pagingUrl},data-formname='pubList',data-replacediv='replace',data-page='1',data-dir='asc',
                                data-dir=${(order!=null and order.isAscending()) ? 'DESC' : 'ASC'}"
                                       class="page-sort"
                                    >-->Product Category<!--</a>-->
                                </th>


                                <th data-sortable="true" data-searchable="true">
                                    <!--<a href="javascript:void(0)"
                                       th:value="${productPrice}"
                                       th:attr="data-sort='price',data-baseurl=${pagingUrl},data-formname='pubList',data-replacediv='replace',data-page='1',data-dir='asc',
                                data-dir=${(order!=null and order.isAscending()) ? 'DESC' : 'ASC'}"
                                       class="page-sort"
                                    >-->Price<!--</a>-->
                                </th>
                                <!--<th>
                                </th>-->
                                <!--<th data-sortable="true" data-searchable="true" style="text-align: center">
                                    Status
                                </th>-->
                                <th style="text-align: right">
                                    Actions
                                </th>
                                <!--                                                    <th style="text-align: right">
                                                                                        Copy
                                                                                    </th>-->
                            </tr>
                            <!--<tr>
                                <th>-</th>

                                <th>
                                    <input type="text" name="publicationId"
                                           placeholder="Data Product ID"
                                           class="mark1" autocomplete="off">
                                </th>
                                <th>
                                    <input type="text" name="publicationTitle" placeholder="Title"
                                           class="mark1 " autocomplete="nope">
                                </th>
                                <th>
                                    <input type="text" name="price" placeholder="Price"
                                           class="mark1 " autocomplete="nope">
                                </th>

                                <th>
                                    <input type="submit" style="display: none;">
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                                <th></th>

                            </tr>-->
                            </thead>
                            <tbody class="marktext">
                            <tr th:each="pub : ${dataproduct}">
                                <!--<td th:text="${pub.Id}"></td>-->
                                <td style="width: 20px;" th:text="${pub.productId}"/>
                                <td th:text="${pub.productName}"/>
                                <td th:text="${pub.productCategoryDetail.productCategory.productCategoryName}"/>
                                <td th:text="${'$'+#numbers.formatDecimal(pub.productPrice,0,'COMMA',0,'POINT')}"/>
                                <!--<td th:text="${pub.documentInSplitFormat}"></td>-->

                                <td style="display: flex;">
                                    <form method="post" th:id="${'formstatus'+pubStat.index}"
                                          style=" float: left;">
                                        <i class="fa fa-3x categoryStatus"
                                           style="font-size: 30px;"
                                           th:attr="data-id=${@pathVariableEnc.encrypt(pub.id)},data-after='configStatusSave',
                                                            data-ele=${'form'+pubStat.index}"
                                           th:classappend="${(!pub.status || pub.status==null) ? 'fa-toggle-off text-danger' : 'fa-toggle-on text-success'}"></i>
                                    </form>
                                    <a
                                            style="font-size: 20px; padding-left: 12px;"
                                            th:href="'javascript:void(0)'"
                                            class="category-create"
                                            title="edit"
                                            th:attr="data-after='tCheckbox',data-onload='tCheckbox',data-title=${'Edit ' + pub.productName},
                                            data-size='large',data-url='/ajax/super/publications/dataform/'+${@pathVariableEnc.encrypt(pub.id)},
                                            data-submiturl='/ajax/super/publications/datacreate/'+${@pathVariableEnc.encrypt(pub.id)}, data-close='pubCreated',data-reload='true'"
                                            data-msg="Customs Data is updated!"
                                            d><i class="fas fa-pencil-alt"></i></a>
                                    <a
                                            style="font-size: 20px; padding-left: 12px;"
                                            th:href="'javascript:void(0)'"
                                            class="category-create"
                                            title="upload"
                                            th:attr="data-after='tCheckbox',data-onload='tCheckbox',data-title=${'Edit ' + pub.productName},data-size='large',
                                            data-url='/ajax/super/publications/dataformUpload/'+${@pathVariableEnc.encrypt(pub.id)},
                                            data-submiturl='/ajax/super/publications/datacreateUpload/'+${@pathVariableEnc.encrypt(pub.id)}, data-close='pubCreated',
                                            data-reload='true'", data-msg="Customs Data item file is updated!"
                                            d><i class="nc-icon nc-cloud-upload-94"></i></a>

                                    <a style="font-size: 20px; padding-left: 12px;"
                                       th:attr="data-url='/versionhisotry/' + ${@pathVariableEnc.encrypt(pub.id)}, data-size='large',
                                                        data-title=${'Version history of ' + pub.productName}, data-reload='true'"
                                       href="javascript:void(0);"
                                       class="icon ereaders-idea"
                                       title="version history"> <i class="fas fa-eye" style="font-weight: bold;"></i>
                                    </a>

                                    <!--th:href="'/dataSoftDelete/' +${pub.id}" onclick="return confirm('Are you sure you want to delete this record?');"-->
                                    <a
                                            style="font-size: 20px; padding-left: 12px;"
                                            title="delete"
                                            th:href="'javascript:void(0)'"
                                            class="confirmation-box"
                                            th:attr="data-planid=${pub.id}">
                                        <i class="nc-icon nc-simple-remove" style="font-weight: bold;"></i></a>


                                </td>
                                <!--<td>


                                </td>-->
                                <!--
                                                                                    <td>
                                                                                        <a
                                                                                                th:href="'javascript:void(0)'"
                                                                                                class="btn btn-success btn-sm pull-right publication-copy"
                                                                                                th:attr="data-url='/ajax/super/publications/copy/'+${@pathVariableEnc.encrypt(pub.id)}, data-after='pubCopied'"
                                                                                        >Copy</a>


                                                                                    </td>
                                -->
                            </tr>
                            </tbody>
                        </table>
                        <!--<div class="table-responsive" id="replace">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                <div class="row m-0">
                                    <Div class="col-sm-12">
                                        <form th:action="@{${pagingUrl}}"
                                              th:attr="data-baseurl=${pagingUrl},data-formname='pubList',data-replacediv='replace'"
                                              id="pubList" class="paging" autocomplete="off">
                                        </form>
                                    </div>
                                </Div>
                                <div th:remove="tag" th:include="layouts/paging :: paging"
                                     th:with="pageObj=${dataproduct},replaceDiv='replace',formName='pubList', pagingUrl=${pagingUrl}"></div>

                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
<th:block layout:fragment="extrascripts">
    <script th:src="@{/front/nimda/js/ajax.js}"></script>
    <script th:src="@{/front/nimda/js/paging.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $("#dataTable").bootstrapTable();
        });

        $(document).on("click", ".category-create", function (e) {
            publicationSubmit($(this));
        });

        function pubCreated(params, currentElement, popup) {
            closeConfirmPopupWithAlertMessage(params, currentElement, popup, "", "html");
        }


        $(document).on("click", ".configValReload", function (e) {
            //if ($(this).val() != "") {
            data = {};
            data['configVaue'] = $("#" + $(this).data("inputid")).val();
            data['csrfParameter'] = $("meta[name='_csrf_parameter']").attr("content");
            data['csrfToken'] = $("meta[name='_csrf']").attr("content");
            data['csrfHeader'] = $("meta[name='_csrf_header']").attr("content");
            ajaxPost("post", "/ajax/super/publications/change/" + $(this).data("id"), data, $(this), true);
            //}
        });


        $(document).on("click", ".categoryStatus", function (e) {
            //if ($(this).val() != "") {
            ajaxPost("post", "/ajax/super/publications/status/" + $(this).data("id"), $("#" + $(this).data("ele")).serialize(), $(this), true);
            //}
        });
        $(document).on("click", ".publication-copy", function (e) {
            //if ($(this).val() != "") {
            ajaxPost("post", $(this).data("url"), "", $(this), true);
            //}
        });

        function pubCopied(params, currentElement) {
            if (params.success) {
                $.alert({
                    title: false,
                    content: "<div class='alert alert-success'>" + params.msg + "</div>",
                    buttons: {
                        ok: {
                            btnClass: 'btn-primary',
                            action: function () {
                                refreshGrid();
                            }
                        },
                    }
                });
            } else {
                $.alert("<div class='alert alert-danger'>" + params.msg + "</div>");

            }
        }


        function configSave(params, currentElement) {
            if (params.success) {
                reloadPage();
            } else {
                $.alert({
                    title: false,
                    content: "<div class='alert alert-danger'>" + params.msg + "</div>",
                    buttons: {
                        ok: {
                            btnClass: 'btn-primary',
                            action: function () {

                            }
                        },
                    }
                });
            }
        }

        function configStatusSave(params, currentElement) {
            if (params.success) {
                if (params.obj[0]) {
                    currentElement.removeClass("text-danger").removeClass("fa-toggle-off");
                    currentElement.addClass("text-success").addClass("fa-toggle-on");
                } else {
                    currentElement.removeClass("text-success").removeClass("fa-toggle-on");
                    currentElement.addClass("text-danger").addClass("fa-toggle-off");

                }
            } else {
                $.alert({
                    title: false,
                    content: "<div class='alert alert-danger'>" + params.msg + "</div>",
                    buttons: {
                        ok: {
                            btnClass: 'btn-primary',
                            action: function () {

                            }
                        },
                    }
                });
            }
        }

        function editPub(res, currentElement) {

        }

        function tCheckbox(res, currentElement) {
            $('.tCheckbox').bootstrapToggle();
        }

        $(document).on("change", ".custom-file-input", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).on("click", ".confirmation-box", function (e) {
            let result ;
            var currentElement = $(this);
            console.log(currentElement);
            cnfbox = $.confirm({
                title : "Are you sure ?",
                content : "You want to delete this record?",
                columnClass : "medium",
                backgroundDismiss : false,
                closeIcon : true,
                buttons : {
                    Yes : {
                        action: function () {
                            window.location.href = BASE_URL + '/dataSoftDelete/' + currentElement.data('planid');
                        }
                    },
                    close : {
                        text : 'Cancel',
                        action : function () {
                            cnfbox.close();
                        }
                    }
                }
            });
        });


        function publicationSubmit(currentElement) {
            cnfbox = $.confirm({
                title: currentElement.data('title'),
                icon: 'fa fa-pencil',
                columnClass: (currentElement.data("size") != "") ? currentElement.data("size") : "large",
                backgroundDismiss: false,

                closeIcon: true,
                content: "URL:" + BASE_URL + currentElement.data("url"),
                buttons: {
                    formSubmit: {
                        text: 'Submit',
                        btnClass: 'btn-blue',
                        action: function () {

                            var cntnt = this;
                            this.showLoading();
                            $.ajax({
                                type: "POST",
                                /*contentType: "application/json",*/
                                //dataType: (currentElement.data("contenttype") != "") ? currentElement.data("contenttype") : "html",
                                url: BASE_URL + currentElement.data("submiturl"),
                                data: new FormData($('#publicationsForm')[0]),
                                timeout: 100000,
                                headers: headers,
                                contentType: false,
                                cache: false,
                                processData: false,
                                enctype: 'multipart/form-data',
                                success: function (res) {
                                    cntnt.hideLoading();
                                    cntnt.setContent(res, true);
                                    if (jQuery.type(currentElement.data("after")) != "undefined") {
                                        callGlobalMethodUsingVariable(currentElement.data("after"), res, currentElement);
                                    }
                                    if (jQuery.type(currentElement.data("close")) != "undefined") {
                                        callGlobalMethodUsingVariableClose(currentElement.data("close"), res, currentElement, cntnt);
                                    }
                                    //$.alert("<div class='alert alert-success'>Saved!!!</div>");

                                },
                                error: function (e) {
                                    cntnt.hideLoading();
                                    cntnt.setContent(e.responseText, true);
                                    console.log("ERROR: ", e);
                                    if (jQuery.type(currentElement.data("after")) != "undefined") {
                                        callGlobalMethodUsingVariable(currentElement.data("after"), res, currentElement);
                                    }
                                },
                                done: function (e) {
                                    cntnt.hideLoading();
                                    console.log("DONE");
                                    if (jQuery.type(currentElement.data("after")) != "undefined") {
                                        callGlobalMethodUsingVariable(currentElement.data("after"), res, currentElement);
                                    }
                                }
                            });
                            return false;
                        }
                    },
                    close: function () {
                        //window.location.href = window.location.href;
                        //location.reload();
                        cnfbox.close();
                    }
                },
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    if (jQuery.type(currentElement.data("onload")) != "undefined") {
                        callGlobalMethodUsingVariable(currentElement.data("onload"), "", currentElement);
                    }

                }
            });
        }

        function confirmAjaxSubmitCustom(currentElement) {
            cnfbox = $.confirm({
                title: currentElement.data('title'),
                columnClass: (currentElement.data("size") != "") ? currentElement.data("size") : "large",
                backgroundDismiss: true,
                buttons: false,
                content: "URL:" + BASE_URL + currentElement.data("url"),
                onContentReady: function () {
                    // bind to events
                    var jc = this;
                    if (jQuery.type(currentElement.data("onload")) != "undefined") {
                        callGlobalMethodUsingVariable(currentElement.data("onload"), "", currentElement);
                    }
                    this.$content.find('.edit-inline-btcrate').on('keyup', function (e) {
                        var finalMaxLimit = (parseFloat($(this).val().replace(/,/g, "")) * parseFloat(advertiseMax)) / parseFloat(advertiseRate);
                        jc.$content.find('.edit-inline-maximum').val(Math.round(finalMaxLimit));
                    });
                    this.$content.find('form').on('submit', function (e) {

                        e.preventDefault();
                        jc.$$formSubmit.trigger('click'); // reference the button and click it
                    });
                    if (jQuery.type(currentElement.data("after")) != "undefined") {
                        callGlobalMethodUsingVariable(currentElement.data("after"), "", currentElement);
                    }
                }
            });
        }

        $(document).on("click", ".ereaders-idea", function (e) {
            console.log("Ayushman Bhav...");
            confirmAjaxSubmitCustom($(this));
        });

    </script>
</th:block>
</html>