<!DOCTYPE html>
<!--header-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<!--// Header \\-->
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" th:href="@{/static/front/css/stylecart.css}">
    <script src="https://use.fontawesome.com/856a15b71f.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <style>

        .global-trade-list > a {
            display: block;
            width: 100%;
            padding: .25rem 1.5rem;
            clear: both;
            font-weight: 400 !important;
            color: #212529 !important;
            text-align: inherit;
            white-space: nowrap;
            background-color: transparent;
            border: 0;
            font-size: inherit;
            line-height: inherit;
            padding: .5rem !important;
            color: inherit !important;
            text-transform: inherit !important;
            position: inherit;
            opacity: inherit;
            font-size: 15px !important;
        }

        .navbar-expand-lg {
            -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
            -ms-flex-pack: start;
            justify-content: flex-start
        }

        .navbar-expand-lg .navbar-nav {
            -ms-flex-direction: row;
            flex-direction: row
        }

        .navbar-expand-lg .navbar-nav .dropdown-menu {
            position: absolute;
            box-shadow: 2px 2px 2px 0px rgb(0, 0, 0);
        }

    </style>


    <!-- new Links 16.04.2020     -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ereaders Shop List WLS</title>

    <!-- Css Files -->

    <link href="front/landingpage/css/bootstrap.min.css" rel="stylesheet">

    <link href="front/css/bootstrap.css" rel="stylesheet">
    <!--<link href="front/css/font-awesome.css" rel="stylesheet">-->
    <link href="front/css/flaticon.css" rel="stylesheet">
    <link href="front/css/slick-slider.css" rel="stylesheet">
    <link href="front/css/fancybox.css" rel="stylesheet">
    <link href="front/css/style.css" rel="stylesheet">
    <link href="front/css/color.css" rel="stylesheet">
    <link href="front/css/responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--end new links 16.04.2020-->

</head>
<th:block th:fragment="header">

    <!--// Header \\-->
    <!--====== NAVBAR TWO PART START ======-->

    <section class="navbar-area sticky innerpag-heder">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg inner-heder-cnt">
                        <a class="navbar-brand" th:href="@{'/homeNew'}">
                            <img th:src="@{/front/landingpage/images/global_trade_data_logo.png}" class="das-logo-img" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTwo" aria-controls="navbarTwo" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarTwo">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item"><a class="page-scroll" th:href="@{'/daas/Data'}">Customs Data</a></li>
                                <li class="nav-item"><a class="page-scroll" th:href="@{'/daas/api-as-service'}">Web Services</a></li>
                                <li class="nav-item"><a class="page-scroll" th:href="@{'/homeNew#about'}">FAQ<small><strong>s</strong></small></a></li>
                                <!--<li class="nav-item"><a class="page-scroll" href="#team">Team</a></li>-->
                                <li class="nav-item"><a class="page-scroll" th:href="@{'/homeNew#contact'}">Contact</a></li>

                                <li class="nav-item dropdown usr-mnu-txt-blk" sec:authorize="hasRole('ROLE_USER')">
                                    <i class="fa fa-user usr-icn"></i> <a th:text=" 'Hi, ' + ${#strings.toUpperCase(@userUtil.getCurrentUser().getFirstName())}" href="javascript:void(0)"
                                       class="nav-link dropdown-toggle text-trnsnone"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    </a>
                                    <div class="dropdown-menu global-trade-list" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" th:href="@{'/orderhistory'}">My Orders</a>
                                        <a class="dropdown-item" th:href="@{'/subscription'}">Subscription Details</a>
                                        <a class="dropdown-item edit-profile"
                                           th:attr="data-url='/corporate/edit/profile',data-submiturl='/corporate/edit/profile',data-size='medium',data-close='profUpdated',data-title='View/Edit Profile',data-reload='true'"
                                           href="javascript:void(0);">View Profile</a>
                                        <a class="password-edit" style="cursor: pointer"
                                           th:attr="data-url='/password/edit',data-submiturl='/password/edit',data-size='medium',data-close='closePass',data-title='Change Password'">Change Password</a>
                                    </div>
                                </li>

                                <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_SUPERADMIN')">
                                    <li class="nav-item" ><a th:href="@{'/admin/category/list'}" class="page-scroll" href="#contact">Admin Panel</a></li>
                                </div>
                            </ul>
                        </div>

                        <div class="navbar-btn d-none d-sm-inline-block">

                            <!--<li class="nav-item active">
                                <a th:href="@{'/getCartPage'}" th:if="${@serviceUtil.getCartEntriesCount(#request)} > 0" id="cart" class="page-scroll">
                                    &lt;!&ndash;<i class="fa" style="font-size:36px">&#xf07a;</i>&ndash;&gt;
                                    <i class="fas fa-shopping-cart" style="font-size:26px; position: absolute; left: 72rem; top: 1.5rem;"></i>
                                </a>
                            </li>-->

                            <span id="totalCart">
                            <a th:href="@{'/getCartPage'}" th:if="${@serviceUtil.getCartEntriesCount(#request)} > 0" id="cart" class="page-scroll hed-crt-icn inner-hed-cart">
                                <!--<i class="fa" style="font-size:36px">&#xf07a;</i>-->
                                <!--fas fa-shopping-cart-->
                                <i class="fa fa-shopping-cart ereaders-simple-btn-cart cstm-crt-icn"></i>
                                <span class='badge badge-warning cstm-badge' id='lblCartCount' th:if="${@serviceUtil.getCartEntriesCount(#request)} > 0" th:text="${@serviceUtil.getCartEntriesCount(#request)}"></span>
                            </a>
                            </span>
                            <a class="btn btn-primary loginbutton cstm-btn" sec:authorize="isAnonymous()" th:href="@{'/login'}">Login</a>
                            <a class="btn btn-primary loginbutton cstm-btn1" sec:authorize="isAnonymous()" th:href="@{'/register'}">Register</a>
                            <a class="btn btn-primary loginbutton cstm-btn1" sec:authorize="isAuthenticated()" th:href="@{'/logout'}">Logout</a>
                        </div>
                    </nav> <!-- navbar -->
                </div> <!--col-lg-12-->
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== NAVBAR TWO PART ENDS ======-->
</th:block>
<!--// Header \\-->
<body>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->
<!--
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/jquery-ui.js"></script>
-->

<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" type="text/css">
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script type="text/javascript" src="script/bootstrap.min.js"></script>
<script type="text/javascript" src="script/slick.slider.min.js"></script>
<script type="text/javascript" src="script/fancybox.pack.js"></script>
<script type="text/javascript" src="script/isotope.min.js"></script>
<script type="text/javascript" src="script/progressbar.js"></script>
<script type="text/javascript" src="script/jquery.countdown.min.js"></script>
<script type="text/javascript" src="script/circle-chart.js"></script>
<script type="text/javascript" src="script/numscroller.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs_m2ywm-bE8z9YM_WmtPaIQNIosN4Dxo&callback=initMap"></script>
<script type="text/javascript" src="script/functions.js"></script>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
</body>
</html>