<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/base}">


<div layout:fragment="page_content" id="page_content">
    <!--<div th:replace="base/globalmessages :: global-messages">(global-messages)</div>-->

    <div class="container-fluid">
        <div class="row mar-tb15 middle">
            <div class="col-md-6">
                <h5 class="uppercase themecolor mb-0">Config List</h5>
                <br/>
                <p class="text-danger"><span>Note : </span>Change the color using color picker and click reload button
                    to reload page</p>

            </div>
            <div class="col-md-6 text-right">
                <a
                        th:href="'javascript:void(0)'" class="btn btn-primary btn-sm pull-right config-create"
                        th:attr="data-title='Add config',data-size='medium',data-url='/ajax/super/theme/config/form', data-submiturl='/ajax/super/theme/config/create', data-close='configCreated',data-reload='true'"
                >Add Config</a>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="table-responsive" id="replace">
                        <div class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <Div class="col-sm-12">
                                    <form th:action="@{${pagingUrl}}"
                                          th:attr="data-baseurl=${pagingUrl},data-formname='configList',data-replacediv='replace'"
                                          id="configList" class="paging" autocomplete="off">
                                        <table class="table " id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>-</th>
                                                <th th:with="order=${pageable.getSort().getOrderFor('configName')}">
                                                    <a href="javascript:void(0)"
                                                       th:value="${configName}"
                                                       th:attr="data-sort='configName',data-baseurl=${pagingUrl},data-formname='configList',data-replacediv='replace',data-page='1',
                            data-dir=${(order!=null and order.isAscending()) ? 'DESC' : 'ASC'}"
                                                       class="page-sort">
                                                        Config name</a>
                                                </th>
                                                <th th:with="order=${pageable.getSort().getOrderFor('configValue')}">
                                                    <a href="javascript:void(0)"
                                                       th:value="${configValue}"
                                                       th:attr="data-sort='configValue',data-baseurl=${pagingUrl},data-formname='configList',data-replacediv='replace',data-page='1',data-dir='asc',
                                data-dir=${(order!=null and order.isAscending()) ? 'DESC' : 'ASC'}"
                                                       class="page-sort"
                                                    >Config value</a>
                                                </th>
                                                <th>

                                                </th>
                                                <th style="text-align: center">
                                                    Status
                                                </th>
                                                <th style="text-align: right">
                                                    Edit
                                                </th>

                                            </tr>
                                            <tr>
                                                <th>-</th>

                                                <th>
                                                    <input type="text" name="configName" placeholder="Config name"
                                                           class="mark1" autocomplete="off">
                                                </th>
                                                <th>
                                                    <input type="text" name="configValue" placeholder="Config value"
                                                           class="mark1 " autocomplete="nope">
                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>
                                                <th>

                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody class="marktext">
                                            <tr th:each="config : ${configs}">
                                                <td th:text="${configStat.index+1}"></td>
                                                <td th:width="'300px'" th:text="${config.configName}"></td>

                                                <td th:width="'200px'">

                                                    <form method="post" th:id="${'form'+configStat.index}" action="">
                                                        <input type="text"
                                                               th:value="${config.configValue}"
                                                               class="form-control minicolors-input configVal"
                                                               name="configVaue"
                                                               th:id="${'configVal'+configStat.index}"

                                                        />


                                                    </form>
                                                </td>
                                                <td th:width="'50px'">
                                                    <span><i th:attr="data-id=${@pathVariableEnc.encrypt(config.id)},data-after='configSave',
                                                    data-ele=${'form'+configStat.index}, data-inputid=${'configVal'+configStat.index}"
                                                             class="fa fa-2x fa-sync configValReload"></i></span>
                                                </td>
                                                <td th:width="200px" style="text-align: center">
                                                    <form method="post" th:id="${'formstatus'+configStat.index}">
                                                        <i class="fa fa-3x configValStatus"
                                                           th:attr="data-id=${@pathVariableEnc.encrypt(config.id)},data-after='configStatusSave',
                                                            data-ele=${'form'+configStat.index}"
                                                           th:classappend="${(!config.status) ? 'fa-toggle-off text-danger' : 'fa-toggle-on text-success'}"></i>
                                                    </form>
                                                </td>
                                                <td>
                                                    <a
                                                            th:href="'javascript:void(0)'"
                                                            class="btn btn-primary btn-sm pull-right config-create"
                                                            th:attr="data-onload='getColorPicker',data-title=${'Edit ' + config.configName},data-size='medium',data-url='/ajax/super/theme/config/form/'+${@pathVariableEnc.encrypt(config.id)}, data-submiturl='/ajax/super/theme/config/create/'+${@pathVariableEnc.encrypt(config.id)}, data-close='configCreated',data-reload='true'"
                                                    >Edit</a>


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </form>
                                </div>
                            </Div>
                            <div th:remove="tag" th:include="base/paging :: paging"
                                 th:with="pageObj=${configs},replaceDiv='replace',formName='configList', pagingUrl=${pagingUrl}"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="scripts">
    <script th:src="@{/easeClick-theme/js/ajax.js}"></script>
    <script th:src="@{/easeClick-theme/js/paging.js}"></script>
    <script th:src="@{/easeClick-theme/js/visit/visit.js}"></script>
    <script th:src="@{/easeClick-theme/js/visit/country.js}"></script>
    <script th:src="@{/easeClick-theme/js/datalist/tagify.min.js}"></script>
    <link th:href="@{/easeClick-theme/css/datalist/tagify.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/easeClick-theme/js/visit/location.js}"></script>

    <script th:src="@{/easeClick-theme/js/colorpicker/jquery.minicolors.js}"></script>
    <script th:src="@{'/easeClick-theme/js/kiosk.js'}"></script>
    <script type="text/javascript">
        $(document).on("click", ".config-create", function (e) {
            confirmAjaxSubmit($(this));
        });

        function configCreated(params, currentElement, popup) {
            closeConfirmPopupWithAlertMessage(params, currentElement, popup, "Config created", "html");
        }

        function getColorPicker(params, currentElement) {
            $("#configValue").minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        // console.log(value);
                    }
                },
                theme: 'bootstrap'
            });
            //$('.colorpicker').colorpicker();
        }

        $(document).ready(function () {
            $(".configVal").minicolors({
                control: $(this).attr('data-control') || 'hue',
                defaultValue: $(this).attr('data-defaultValue') || '',
                format: $(this).attr('data-format') || 'hex',
                keywords: $(this).attr('data-keywords') || '',
                inline: $(this).attr('data-inline') === 'true',
                letterCase: $(this).attr('data-letterCase') || 'lowercase',
                opacity: $(this).attr('data-opacity'),
                position: $(this).attr('data-position') || 'bottom',
                swatches: $(this).attr('data-swatches') ? $(this).attr('data-swatches').split('|') : [],
                change: function (value, opacity) {
                    if (!value) return;
                    if (opacity) value += ', ' + opacity;
                    if (typeof console === 'object') {
                        //ajaxPost("post", "/ajax/super/config/change/" + $(this).data("id"), $("#" + $(this).data("ele")).serialize(), $(this), true);
                        // console.log(value);
                    }
                },
                theme: 'bootstrap'
            });
        });
        $(document).on("click", ".configValReload", function (e) {
            //if ($(this).val() != "") {
            data={};
            data['configVaue'] = $("#"+$(this).data("inputid")).val();
            data['csrfParameter'] = $("meta[name='_csrf_parameter']").attr("content");
            data['csrfToken'] = $("meta[name='_csrf']").attr("content");
            data['csrfHeader'] = $("meta[name='_csrf_header']").attr("content");
            ajaxPost("post", "/ajax/super/theme/config/change/" + $(this).data("id"), data, $(this), true);
            //}
        });


        $(document).on("click", ".configValStatus", function (e) {
            //if ($(this).val() != "") {
            ajaxPost("post", "/ajax/super/theme/config/status/" + $(this).data("id"), $("#" + $(this).data("ele")).serialize(), $(this), true);
            //}
        });

        function configSave(params, currentElement) {
            if (params.success) {
                reloadPage();
            } else {
                $.alert({
                    title: false,
                    content: "<div class='alert alert-danger'>" + params.msg + "</div>",
                    buttons: {
                        ok: {
                            btnClass: 'btn-primary',
                            action: function () {

                            }
                        },
                    }
                });
            }
        }

        function configStatusSave(params, currentElement) {
            if (params.success) {
                if (params.obj[0]) {
                    currentElement.removeClass("text-danger").removeClass("fa-toggle-off");
                    currentElement.addClass("text-success").addClass("fa-toggle-on");
                } else {
                    currentElement.removeClass("text-success").removeClass("fa-toggle-on");
                    currentElement.addClass("text-danger").addClass("fa-toggle-off");

                }
            } else {
                $.alert({
                    title: false,
                    content: "<div class='alert alert-danger'>" + params.msg + "</div>",
                    buttons: {
                        ok: {
                            btnClass: 'btn-primary',
                            action: function () {

                            }
                        },
                    }
                });
            }
        }
    </script>
</th:block>
</html>